<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Map</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<style type="text/css">
        * {
            margin: 0;
            padding: 0;
            z-index: 1
        }
        html {
            height: 100%;
        }
        p {
            padding: 10px 0;
        }
        body {
            min-height: 100%;
            font-family: arial;
        }
        body.sideMenu {
            margin: 0;
            -webkit-transform: none;
            transform: none;
        }
        #sideToggle {
            display: none;
        }
        #sideToggle:checked + aside {
            right: 0;
        }
        #sideToggle:checked ~ #wrap {
            padding-right: 420px;
        }
        body > aside {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -400px;
            width: 400px;
            background: #297bb2;
            transition: 0.2s ease-out;
            -webkit-transition: 0.2s ease-out;
        }
        body > aside > h2 {
            color: #FFF;
            text-align: center;
            font-weight: normal;
            padding: 10px;
        }
        #banner {
            margin-left: 110px;
            margin-top: 20px;
        }
        #icon {
            margin-left: 150px;
            margin-top: 20px;
        }
        #userName {
            background: #297bb2;
            color: #FFF;
            text-align: center;
            font-size: 25px;
            border: none;
            padding: 10px;
        }
        .button {
            margin: auto;
            margin-bottom: 20px;
            background: #3399cc;
            width: 150px;
            padding: 10px;
            color: white;
            text-align: center;
            border-radius: 5px;
        }
        .button:hover {
            background: #336699;
        }
        .timeSelect {
            margin: auto;
            border-width: 2px;
            border-color: #3399cc;
            border-radius: 5px;
            width: 300px;
            padding: 10px;
            color: white;
            text-align: center;
        }
        .timeSelectInput {
            margin: auto;
            background: #FFF;
            color: #000000;
            text-align: center;
            font-size: 15px;
            width: auto;
            border: none;
            border-radius: 5px;
            padding: 5px;
        }
        #wrap {
            position: absolute;
            top: 10px;
            right: 30px;
            transition: 0.25s ease-out;
            -webkit-transition: 0.25s ease-out;
        }
        #wrap > label {
            display: inline-block;
        }
        #wrap > label {
            background: #297bb2;
            border-radius: 50px;
            color: #FFF;
            cursor: pointer;
            display: block;
            font-family: Courier New;
            font-size: 25px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            line-height: 35px;
            text-align: center;
            text-shadow: 0 -4px;
        }
        #wrap > label:hover {
            background: #000;
        }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xYBeNeqobNOPgiofCkvp1Ln6"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/data/points-sample-data.js"> </script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script src="/symbols.js"> </script>
<script type="text/javascript">


    var points = new Array();
    var symbol = new Array();
    var line = new Array();
    var pointpaths = new Array();
    var starttime='';
    var endtime='';
    var callsign='';

    var m;  //点击产生的标记
    var click_lng;
    var click_lat;

    var map; //百度地图对象
    var centerPoint;
    var color = ["black", "red", "blue", "yellow", "green", "orange", "grey"];
    var lineColor = new Array();
    var countColor = 0;
    var lineInfo = new Array();
    var pointpaths = new Array();
    var callsignposition = new Array();


    function submit()
    {
        map.clearOverlays();
        starttime=document.getElementById('startTime').value;
        endtime=document.getElementById('endTime').value;
        callsign=document.getElementById('callSign').value;
    }
/*
    for (var i in data) {
        if (typeof(points[data[i].id]) == "undefined") {
            points[data[i].id] = new Array();
            points[data[i].id][0] = new BMap.Point(data[i].lat, data[i].lon);
            pointpaths[data[i].id] = new Array();
            pointpaths[data[i].id][0] = data[i].path;
            countColor = (countColor + 1) % 7;
            lineColor[data[i].id] = color[countColor];
            lineInfo[data[i].id] = {"source": data[i].id, "path": data[i].path, "time": data[i].time, "des": data[i].des };
            callsignposition[data[i].id] = {'lat':data[i].lat,'lon':data[i].lon};
        }
        else {
            points[data[i].id][points[data[i].id].length] = new BMap.Point(data[i].lat, data[i].lon);
            pointpaths[data[i].id][pointpaths[data[i].id].length] = data[i].path;
            callsignposition[data[i].id] = {'lat':data[i].lat,'lon':data[i].lon};
        }
        if (typeof(symbol[data[i].id]) == "undefined") {
            symbol[data[i].id] = data[i].symbol;
        }
    }
    //console.log(points)
    //console.log(symbol);
*/
function init() {

    //初始化地图,选取第一个点为起始点
    map = new BMap.Map("container");
    map.centerAndZoom(new BMap.Point(120.091444,30.307601),12);

    var myLoc = new BMap.LocalCity();

    myLoc.get(function(result) {
      map.setCenter(result.name);
    });

    map.enableScrollWheelZoom();
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl({isOpen: true}));

    //连接所有点
    //map.addOverlay(new BMap.Polyline(points, {strokeColor: "black", strokeWeight: 5, strokeOpacity: 1}));
/*
    for (var i in points) {
        var options = {
            size: BMAP_POINT_SIZE_SMALL,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#d340c3'
        };
        var pointCollection = new BMap.PointCollection(points[i], options);
        map.addOverlay(pointCollection);

        //console.log(lineColor[i]);
        line[i] = new BMap.Polyline(points[i], {strokeColor: lineColor[i], strokeWeight: 1, strokeOpacity: 1});
        map.addOverlay(line[i]);

        var pt = points[i][0];
        //console.log(i);
        console.log(symbol[i]);
        var s=Symbol[symbol[i]];

        if (typeof(s)!="undefined")
        {
            var pic=s[0];
            console.log(s);
            console.log(i);
            var x=s[1];
            var y=s[2];

            if (pic==1) {
                 var myIcon = new BMap.Icon("/1.png", new BMap.Size(22,22),{
                 imageOffset: new BMap.Size(0-x, y)
               });
            }
            else {
                var myIcon = new BMap.Icon("/2.png", new BMap.Size(22,22),{
                 imageOffset: new BMap.Size(0-x, y)
               });
            }
            var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
            map.addOverlay(marker2);
                 // 将标注添加到地图中
        }
    }
*/
/*

    //点击轨迹显示详细数据
    map.addEventListener("mousemove",function(e){
        //获取鼠标当前经纬度
        click_lng =  e.point.lng ;
        click_lat =  e.point.lat;
     });

    for (var i in points){
        line[i].info = lineInfo[i];
        line[i].onclick = function(){
            map.removeOverlay(m);
            var p = new BMap.Point(click_lng,click_lat);
            m = new BMap.Marker(p);
            var l = new BMap.Label("", {offset: new BMap.Size(-20, -20)});
            l.setContent("Longitude: " + p.lng + "<br>Latitude: " + p.lat
                + "<br>source:" + this.info.source + "<br>path:" + this.info.path + "<br>time:" + this.info.time + "<br>des:" + this.info.des);
            m.setLabel(l);
            map.addOverlay(m);
        //alert(click_lng + ' ' + click_lat);
        }
    }
*/

/*
  //鼠标移动到轨迹的点上显示path
  var markers = [];
  var coresps = [];
  var myIcon = new BMap.Icon("1.png", new BMap.Size(20,20));
  for (var i in points){
    for(var j in points[i]){
      var nmk = new BMap.Marker(points[i][j],{
        icon: myIcon
      });
      map.addOverlay(nmk);
      markers.push(nmk);
      coresps.push(pointpaths[i][j]);
    }
  }
  var digipeater, curve;
  for(var i in markers){
    markers[i].addEventListener('mouseover',function(e){
      digipeater = [];
      // add points of paths
      for(j in coresps[i]){
        var pp = new BMap.Point(callsignposition[coresps[i][j]].lat, callsignposition[coreps[i][j]].lon);
        digipeater.push(pp);
      }
      curve = new BMapLib.Curveline(digipeater,{strokeColor:"blue", strokeWeight:3, strokeOpacity:0.5});
      map.addOverlay(curve); // add curve into the map
    });
    markers[i].addEventListener('mouseout',function(e){
    map.removeOverlay(curve); //remove curve from the map
    });
  }
*/
    setInterval(refreshRoute, 2000);
}

function refreshRoute() {
    var bs = map.getBounds();
    var bssw = bs.getSouthWest();
    var bsne = bs.getNorthEast();
    console.log(starttime);
    console.log(endtime);
    console.log(callsign);
    //console.log(bssw.lng + ", " + bssw.lat + " to " + bsne.lng + ", " + bsne.lat + "\n");
    $.get("/data", {"sw_lng": bssw.lng, "sw_lat": bssw.lat, "ne_lng": bsne.lng, "ne_lat": bsne.lat,"starttime":starttime,"endtime":endtime,"callsign":callsign}
    ,function(result) {
        //var pt = new Array();
        symbol=[];
        points.length=0;
        markers = [];
        console.log(result);
        for (var i in result) {
            if (typeof(points[result[i].id]) == "undefined") {
                points[result[i].id] = new Array();
                points[result[i].id][0] = new BMap.Point(result[i].lat, result[i].lon);
                countColor = (countColor + 1) % 7;
                lineColor[result[i].id] = color[countColor];
                lineInfo[result[i].id] = {"source": result[i].id, "path": result[i].path, "time": result[i].time, "des": result[i].des };
                //pt.push(points[result[i].id][0]);
                //markers.push(new BMap.Marker(points[result[i].id][0]));
            }
            else {
                points[result[i].id][points[result[i].id].length] = new BMap.Point(result[i].lat, result[i].lon);

                //pt.push(points[result[i].id][points[result[i].id].length - 1]);
                if (points[result[i].id][points[result[i].id].length-1].lat != points[result[i].id][points[result[i].id].length-2].lat||points[result[i].id][points[result[i].id].length-1].lng != points[result[i].id][points[result[i].id].length-2].lng)
                    markers.push(new BMap.Marker(points[result[i].id][points[result[i].id].length - 1]));

                line[result[i].id] = new BMap.Polyline(
                                            [ points[result[i].id][points[result[i].id].length - 2],
                                            points[result[i].id][points[result[i].id].length - 1] ],
                                            {strokeColor: lineColor[result[i].id], strokeWeight: 1, strokeOpacity: 1}
                                        );

                //console.log(line[result[i].id]);
                map.addOverlay(line[result[i].id]);

                line[result[i].id].info = lineInfo[result[i].id];
                line[result[i].id].onclick = function(){
                    map.removeOverlay(m);
                    var p = new BMap.Point(click_lng,click_lat);
                    m = new BMap.Marker(p);
                    var l = new BMap.Label("", {offset: new BMap.Size(-20, -20)});
                    l.setContent("Longitude: " + p.lng + "<br>Latitude: " + p.lat
                        + "<br>source:" + this.info.source + "<br>path:" + this.info.path + "<br>time:" + this.info.time + "<br>des:" + this.info.des);

                    m.setLabel(l);
                    map.addOverlay(m);
                }


                if (typeof(symbol[result[i].id]) == "undefined") {
                    symbol[result[i].id] = result[i].symbol;
                    var pt = points[result[i].id][0];
                    var s=Symbol[symbol[result[i].id]];

                    if (typeof(s)!="undefined")
                    {
                        var pic=s[0];
                        console.log(s);
                        console.log(i);
                        var x=s[1];
                        var y=s[2];

                        if (pic==1) {
                             var myIcon = new BMap.Icon("/1.png", new BMap.Size(22,22),{
                             imageOffset: new BMap.Size(0-x, y)
                           });
                        }
                        else {
                            var myIcon = new BMap.Icon("/2.png", new BMap.Size(22,22),{
                             imageOffset: new BMap.Size(0-x, y)
                           });
                        }
                        var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
                        //map.addOverlay(marker2);
                        markers.push(marker2);
                    }else{

                        markers.push(new BMap.Marker(pt));
                    }
                }


            }
        }
        /*
        var options = {
            size: BMAP_POINT_SIZE_SMALL,
            shape: BMAP_POINT_SHAPE_CIRCLE,
            color: '#d340c3'
        };
        var pointCollection = new BMap.PointCollection(pt, options);
        map.addOverlay(pointCollection);
        */
        markerClusterer=new BMapLib.MarkerClusterer(map,{GridSize:10,markers:markers});
    });
}

</script>
</head>


<body style="overflow:hidden" onload="init();">
    <div id="container" style="position: absolute; top:0; width:100%; height:100%; border:none; z-index:0"></div>
    <input type='checkbox' id='sideToggle'>
    <aside>
        <div id='banner'>
            <!--Please Replace this part with BANNER-->
            <img src="/uploads/default.jpg" width="180" alt="Sample Logo" />
        </div>
        <p></p>
        <hr width=80% style="margin:auto">
        <table class='timeSelect'>
            <tr>
                <td>Start Time</td>
                <td>
                    <input class='timeSelectInput' id='startTime' type="text" name="Meow" width="100px" value="2015-02-24 06:00:00">
                </td>
            </tr>
            <tr>
                <td>End Time</td>
                <td>
                    <input class='timeSelectInput' id='endTime' type="text" name="Meow" width="100px" value="2015-02-24 06:00:00">
                </td>
            </tr>
            <tr>
                <td>Callsign</td>
                <td>
                    <input class='timeSelectInput' id='callSign' type="text" name="Meow" width="100px" value="BA5AG">
                </td>
            </tr>
        </table>
        <div class='button' onclick="submit()">Show on Map!</div>
        <hr width=80% style="margin:auto">
        <!--User Panel-->
        <div id='icon'>
            <img src="/joker.jpeg" width="100" alt="Sample Logo" style="position:absolute; z-index:2" />
            <img src="/maskLogOut.png" width="100" alt="Log-out" style="position:absolute; z-index:4;
                                opacity:0;filter:alpha(opacity=0)" onmouseover="this.style.opacity=0.8;this.filters.alpha.opacity=80" onmouseout="this.style.opacity=0;this.filters.alpha.opacity=0" />
            <img src="/mask.png" width="100" style="position:relative; z-index:3" />
        </div>
        <div id='userName'>
            <input id='userName' type="text" name="Meow" width="200px" value="哥谭市蝙蝠侠粉丝团团长">
        </div>
        <div class="button">
            <form
                id      = "uploadForm"
                enctype = "multipart/form-data"
                action  = "/photoUpload"
                method  = "post"
            >
                <input type="file" name="userPhoto"/>
                <input type="submit" value="Upload Image" name="submit"/>
            </form>
        </div>
        <div class='button' id='changeBanner'>Change Banner</div>
        <div class='button' id='upload'>Upload Image</div>
        <hr width=80% style="margin:auto">
        <!--Please add the user control and date/time/function select panel here-->
    </aside>
    <div id='wrap'>
        <label id='sideMenuControl' for='sideToggle'>=</label>
    </div>
</body>

</html>

