* {
    margin: 0;
    padding: 0;
    z-index: 1
}

html {
    height: 100%;
}

p {
    padding: 10px 0;
}

body {
    min-height: 100%;
    font-family: arial;
}

body.sideMenu {
    margin: 0;
    -webkit-transform: none;
    transform: none;
}

#sideToggle {
    display: none;
}

#sideToggle:checked + aside {
    right: 0;
}

#sideToggle:checked ~ #wrap {
    padding-right: 420px;
}

body > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -400px;
    width: 400px;
    background: #297bb2;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}

body > aside > h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    padding: 10px;
}

#banner {
    margin-left: 110px;
    margin-top: 20px;
}

#icon {
    margin-left: 150px;
    margin-top: 20px;
}

#userEmail {
    margin-top: 10px;
    background: #297bb2;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    border: none;
}

.middle {
    margin: auto;
    text-align: center;
}

.button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #3399cc;
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background: #336699;
}

.timeSelect {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-color: #3399cc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    color: white;
    text-align: center;
}

.timeSelectInput {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFF;
    color: #000000;
    text-align: center;
    font-size: 15px;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#wrap {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: 0.25s ease-out;
    -webkit-transition: 0.25s ease-out;
}

#wrap > label {
    display: inline-block;
}

#wrap > label {
    background: #297bb2;
    border-radius: 50px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 -4px;
}

#wrap > label:hover {
    background: #000;
}

#buttonFileFront {
    position:relative;
    z-index:3;
    margin: auto;
    margin-bottom: 20px;
    background: #3399cc;
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

#buttonFile {
    position:absolute;
    left:125px;
    z-index:4;
    margin: auto;
    margin-top:-30px;
    margin-bottom: 20px;
    background: #3399cc;
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    opacity:0;
    filter:alpha(opacity=0);
}

#buttonFile:hover {
    cursor: pointer;
}
