html {
    font-family: 'Bree Serif', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: url(/img/loginmainback.jpg) repeat 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', sans-serif;
}

p,
div {
    font-family: 'Bree Serif', sans-serif;
}

#welcometxt {
    font-family: 'Bree Serif', sans-serif;
    color: white;
    font-size: 90px;
    position: fixed;
    top: 30%;
    left: 25%;
}
