html {
    font-family: 'Bree Serif', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: url(/img/loginmainback.jpg) repeat 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', sans-serif;
}

p,
div {
    font-family: 'Bree Serif', sans-serif;
}

.LoginSignupContainer {
    font-family: 'Bree Serif', sans-serif;
    background: url(/img/loginsecondback.jpg) center repeat;
    position: fixed;
    top: 30%;
    left: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.myContainer {
    background-color: white;
    position: relative;
    padding-top: 1%;
    padding-bottom: 3%;
}

.formtab {
    margin: 10px;
}

#myTab {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

#myTabContent {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.form-login-heading {
    margin-left: 5px;
    margin-right: 200px;
}

.form-control {
    margin-right: 250px;
    margin-bottom: 5px;
}
