<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%=t itle %>
    </title>
    <link rel="stylesheet" href="../public/css/map_style.css" type="text/css" media="all" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=xYBeNeqobNOPgiofCkvp1Ln6"></script>
</head>

<body>
</body>

</html>
