<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%=t itle %>
    </title>
    <style type="text/css">
        html {
            height: 100%
        }
        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        #controller {
            width: 100%;
            border-bottom: 3px outset;
            height: 30px;
            filter: alpha(Opacity=100);
            -moz-opacity: 1;
            opacity: 1;
            z-index: 10000;
            background-color: lightblue;
        }
        #container {
            height: 100%;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=xYBeNeqobNOPgiofCkvp1Ln6"></script>
</head>

<body onload="init();">
    <div id="controller" align="center">
        <input id="follow" type="checkbox"><span style="font-size:12px;">画面跟随</span></input>
        <input id="play" type="button" value="播放" onclick="play();" disabled />
        <input id="pause" type="button" value="暂停" onclick="pause();" disabled />
        <input id="reset" type="button" value="重置" onclick="reset()" disabled />
    </div>
    <div id="container"></div>
</body>

</html>
