<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        <%= title %>
    </title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Custom Styles -->

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>
        $(document).ready(function() {
            $.get("/users/sessionVerify", function(res) {
                //Code 7 means logged in
                if (res.code === 7) {
                    $('#signup_btn').hide();
                    $('#login_btn').hide();
                    $('#logout_btn').show();
                }
                //Code 8 means not logged in
                else if (res.code === 8) {
                    $('#signup_btn').show();
                    $('#login_btn').show();
                    $('#logout_btn').hide();
                }
            });
        });
    </script>

</head>

<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Weather Web</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/users">Home</a>
                    </li>
                    <li><a href="/weatherMap">Map</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/login" class="btn btn-lg btn-primary btn-block btn-link" role="button" id="signup_btn">Sign Up</a>
                    </li>
                    <li><a href="/users/login" class="btn btn-lg btn btn-block btn-link" role="button" id="login_btn">Login</a>
                    </li>
                    <li><a href="/users" class="btn btn-lg btn btn-block btn-link" role="button" id="logout_btn">Logout</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- End of Static Navbar -->
    <!-- Start of Welcome Text -->
    <h1 id="welcometxt"> Welcome! </h1>

</body>

</html>
