<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Weather</title>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="statics/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="statics/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="statics/js/request.js"></script>
    <script src="statics/js/main.js"></script>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    <script src="statics/bower_components/moment/moment.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="statics/bower_components/topojson/topojson.js"></script>
    <script src="statics/js/d3_config.js"></script>


  </head>
  <body>
  	<!-- Start of Container for everything -->
    <div class="allcontainer">
    	<!-- Start of Calender Class -->
    	<div class="calendertxt">
    		<h1>Weather Report</h1>
    		<p>Select the date you wish to view</p>
    	</div> <!-- End of Calender Class -->
        <!-- Start of Alert -->
        <div class="alert alert-danger" role="alert" id="fieldError" hidden>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            表单数据不正确
        </div>
        <!-- End of Alert -->
	    <!-- Start of Date Time Picker -->
	    <div class="row">
	        <div class='col-sm-6'>
	            <div class="form-group">
	                <div class='input-group date' id='datetimepicker1'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
	        </div>
	        <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker1').datepicker();
	            });
	        </script>
	    </div>
		<!-- End of Date Time Picker -->
        <!-- Start of Latitude Form -->
        <div class="form-group">
            <label for="latitude">Latitude:</label>
            <input type="text" class="form-control" id="latitude">
        </div>
        <!-- End of Latitude Form -->
        <!-- Start of Longitude Form -->
        <div class="form-group">
            <label for="longitude">Longitude:</label>
            <input type="longitude" class="form-control" id="longitude">
        </div>
        <!-- End of Longitude Form -->
        <!-- Start of Button -->
        <div class="button">
            <button type="submit" class="btn btn-default" id="submit">Submit</button>
        </div>
        <!-- End of Button -->
        <!-- Start of Data Graph -->
        <!-- End of Data Graph -->
    </div>
    <!-- End of Container -->

  </body>
</html>