<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<style type="text/css">
			body, html,#allmap {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
			#l-map{height:500px;width:100%;}
		</style>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qE02zgmFr4DFG0me1Q6hL73t"></script>
		<title>设置覆盖物的显示与隐藏</title>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<link rel="stylesheet" href="../css/map.css">
    	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    	<script>
	    	$(document).ready(function(){
	        	$.get("/SessionVerify", function(res) {
	        	//Code 7 means logged in
	        		if(res.code===7){
	        		    $('#signup_btn').hide();
	        		    $('#login_btn').hide();
	        		    $('#logout_btn').show();
	        	}
	        	//Code 8 means not logged in
	        		else if(res.code===8){
	            		$('#signup_btn').show();
	            		$('#login_btn').show();
	            		$('#logout_btn').hide();
	          		}
	     		});
	    	});
	    </script>
	</head>
	<body>
		<div class="aContainer">
			<!-- Static navbar -->
	      	<nav class="navbar navbar-default navbar-static-top">
	    	    <div class="container">
	    	        <div class="navbar-header">
	            		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            			<span class="sr-only">Toggle navigation</span>
	            			<span class="icon-bar"></span>
	            			<span class="icon-bar"></span>
	            			<span class="icon-bar"></span>
	            		</button>
	            		<a class="navbar-brand">Weather Web</a>
	        		</div>
	        		<div id="navbar" class="navbar-collapse collapse">
	        		    <ul class="nav navbar-nav">
	            			<li><a href="./index.html">Home</a></li>
	            			<li class="active"><a href="./map.html">Map</a></li>
	            		</ul>
	            		<ul class="nav navbar-nav navbar-right">
	            			<li><a href="./Login.html" class="btn btn-lg btn-primary btn-block btn-link" role="button" id="signup_btn">Sign Up</a></li>
            				<li><a href="./Login.html" class="btn btn-lg btn btn-block btn-link" role="button" id="login_btn">Login</a></li>
            				<li><a href="./index.html" class="btn btn-lg btn btn-block btn-link" role="button" id="logout_btn">Logout</a></li>
	            		</ul>
	        		</div><!--/.nav-collapse -->
	        	</div>
	    	</nav>
	    	<!-- End of Static Navbar -->
	    </div>
	    <div id="allmap"></div>
	</body>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
<script type="text/javascript">
	var px,py;
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point1 = new BMap.Point(120.21937542, 30.25924446);
	var point2 = new BMap.Point(120.23937542, 30.27924446);
	var point3 = new BMap.Point(120.19937542, 30.235);
	var point4 = new BMap.Point(120.19537542, 30.245);
	map.enableScrollWheelZoom(true);

	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
	map.addControl(top_left_control);
	map.addControl(top_left_navigation);

	function addArrow(point,direction,speed)
	{
		/*
		var marker = new BMap.Marker(point);  // 创建标注
		*/
		var opts = {
			width : 330,     // 信息窗口宽度
			height: 100,     // 信息窗口高度
			title : "Wind Information" , // 信息窗口标题
			enableMessage:false//设置允许信息窗发送短息
		}
		var infoWindow = new BMap.InfoWindow("地点:"+point.lng+","+point.lat+"<br />风速为:"+speed+"mph<br />风向为:"+direction+"<br />", opts);
		// 创建信息窗口对象
		/*
		marker.addEventListener("click", function(){
			map.openInfoWindow(infoWindow,marker.getPosition()); //开启信息窗口
		});
		*/
		var vectorFCArrow = new BMap.Marker(new BMap.Point(point.lng,point.lat), {
			// 初始化方向向上的闭合箭头
			icon: new BMap.Symbol(BMap_Symbol_SHAPE_FORWARD_CLOSED_ARROW, {
				scale: 1+((speed)/30.0),
				strokeWeight: 1,
				rotation: direction,//顺时针旋转30度
				fillColor: 'red',
				fillOpacity: 0.8
			})
		});
		vectorFCArrow.addEventListener("click", function(){
			map.openInfoWindow(infoWindow,vectorFCArrow.getPosition()); //开启信息窗口
		});
		//map.addOverlay(marker);              // 将标注添加到地图中
		map.addOverlay(vectorFCArrow);
		vectorFCArrow.show();
	}

	map.addEventListener("moveend", function(){
		var centerPoint = map.getCenter();
		var centerJSON = {"px":centerPoint.lng , "py":centerPoint.lat};
		//alert(centerPoint.lng+" "+centerPoint.lat);
		$.post( "/PostPos", centerJSON);
		alert(centerJSON.px+" "+centerJSON.py);
	});

	addArrow(point1,90,1);//position, direction, speed(mph)
	addArrow(point2,45,50);
	addArrow(point3,135,10);
	addArrow(point4,135,10);
	$.getJSON("http://api.map.baidu.com/location/ip?ak=qE02zgmFr4DFG0me1Q6hL73t&coor=bd09ll&callback=?", function(result){
		//通过调用百度IP-API查询本机当前的位置
		px = result.content.point.x;
		py = result.content.point.y;
		map.setViewport({center:new BMap.Point(px,py),zoom:14})
	});

/*
	$.getJSON("/GetPos", function(result) {
		px = result.content.px;
		py = result.content.py;
		map.setViewport({center:new BMap.Point(px,py),zoom:14})
	}
*/

	function setCenter(ip)
	{
		$.getJSON("http://api.map.baidu.com/location/ip?ak=qE02zgmFr4DFG0me1Q6hL73t&ip="+ip+"&coor=bd09ll&callback=?", function(result){
			//通过调用百度IP-API查询本机当前的位置
			px = result.content.point.x;
			py = result.content.point.y;
			map.setViewport({center:new BMap.Point(px,py),zoom:14})
		});
	}

</script>
</html>
